node_modules/
dist/
.temp/
.cache/

.env
.env.*
!.env.example

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store

coverage/
*.lcov

**/__snapshots__/